<div class="col-sm-12">
    <table class="table table-striped">
        <tbody *ngFor="let vegetableData of this.vegetableData">
            <tr>
                <td><img src="http://localhost:8080/SP/images/{{vegetableData.image}}" height="200px" width="300px"></td><br>
                {{ vegetableData.name }}<br><br>
                Price: {{ vegetableData.price }}
                <br><br><br>
                <button (click)="onClick(vegetableData.id)" class="btn btn-primary">Add</button>
            </tr>
            <br>
        </tbody>
            
    </table>
</div>
       