<br><br>
<h1 style="text-align: center; color: red">{{ catagory }} Login Page</h1><br>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
     <div class="form-group">
           <label for="email">Email:</label>
           <input type="email" class="form-control" id="email" name="email"  ngModel #email="ngModel" required>
           <span style="color: red" class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email.</span>
     </div>
     <div class="form-group">
           <label for="password">Password:</label>
           <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel" required>
           <span style="color: red" class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password.</span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>
