<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" routerLink="/allCatagories">Home</a>
            
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="onCard()" *ngIf="this.auth.card">Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 2</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto"> 
                <li class="nav-item" *ngIf="this.auth.allowEdit && !this.auth.logout">
                    <a class="nav-link" [routerLink]="['/signIn', person]">Login</a>
                </li>
                <li class="nav-item" *ngIf="this.auth.allowEdit && !this.auth.logout">
                    <a class="nav-link" [routerLink]="['/signUp', person]">Register</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Manage
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" style="cursor: pointer" *ngIf="!this.auth.user" (click)="onUser()">User</a>
                        <a class="dropdown-item" style="cursor: pointer" *ngIf="!this.auth.admin" (click)="onAdmin()">Admin</a>
                        <a class="dropdown-item" routerLink="/myOrder" *ngIf="this.auth.isUserAuthenticated()">My Order</a>
                        <a class="dropdown-item" routerLink="/manageOrder" *ngIf="this.auth.isAdminAuthenticated()">Manage Orders</a>
                        <a class="dropdown-item" [routerLink]="['/manageProducts']" *ngIf="this.auth.isAdminAuthenticated()">Manage Products</a>
                        <a class="dropdown-item" (click)="onLogout()" *ngIf="this.auth.isAuthenticated()">Logout
                        </a>
                    </div>
                </li>
            </ul>
    </nav> 
       