<br><br>
<div class="row">
        <div class="col-sm-4">
                <ul class="list-group">
                <li class="list-group-item" routerLinkActive="active" [routerLink]="['/']">All Catagories</li>
                <li class="list-group-item" routerLinkActive="active" [routerLink]="['/allCatagories/bread']">Bread</li>
                <li class="list-group-item" routerLinkActive="active" [routerLink]="['/allCatagories/dairy']">Dairy</li>
                <li class="list-group-item" routerLinkActive="active" [routerLink]="['/allCatagories/fruits']">Fruits</li>
                <li class="list-group-item" routerLinkActive="active" [routerLink]="['/allCatagories/vegetable']">Vegetables</li>
            </ul>
        </div>
        <div class="col-sm-8"> 
            <router-outlet (activate)="onActivate($event)"></router-outlet>
            
             <table class="table table-striped" *ngIf="!this.showOutlet">
                <tbody *ngFor="let allProductData of this.allProductData">
                    <tr>
                        <td><img src="http://localhost:8080/SP/images/{{allProductData.image}}" height="200px" width="300px"></td><br>
                        {{ allProductData.name }}<br><br>
                        Price: {{ allProductData.price }}
                        <br><br><br>
                        <button (click)="onClick(allProductData.id)" class="btn btn-primary">Add</button>
                    </tr>
                    <br>
                </tbody>      
             </table>
            
        </div>
</div>
    
