<h1 style="text-align: center; color: blue">Shopping Card</h1>
<br>
<div style="text-align: center; color: red">
     Name: {{ this.userInfo.name }}<br>
     Email: {{ this.userInfo.email }}<br>
     Phone Number: {{ this.userInfo.phoneNo }}
</div><br>
<div>
     <table class="table table-striped">
         <thead class="thead-dark">
             <tr>
                 <th>Name</th>
                 <th>Quantity</th>
                 <th>Price</th>
                 <th>Image</th>
                 <th></th>
             </tr>
         </thead>
         <tbody *ngFor="let cardInfo of this.cardInfo">
             <tr>
                 <td>{{ cardInfo.shoppingListData.name }}</td>
                 <td>{{ cardInfo.quantity }}</td>
                 <td>{{ cardInfo.shoppingListData.price *  cardInfo.quantity}}</td>
                 <td><img src="http://localhost:8080/SP/images/{{cardInfo.shoppingListData.image}}" width="150px" height="150px"></td>
                 <td><button class="btn btn-primary" (click)="onClick(cardInfo.id)">Delete</button></td>
             </tr><br>
         </tbody>
         <br><button class="btn btn-primary" (click)="onCheckOut()">Check Out</button>
         <!-- <button class="btn btn-primary" style="position: absolute; right: 0;">Order</button> -->
     </table>
</div>
