<br>
<h2>Orders</h2><br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Date</th>
                <th>Address</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody *ngFor="let orderData of this.orderData">
            <tr>
                <td>{{ this.userInfo.name}}</td>
                <td>{{ orderData.date}}</td>
                <td>{{ orderData.address}}</td>
                <td>{{ orderData.city}}</td>
                <td><button (click)="onView(orderData.cardId)">View</button></td>
            </tr>
        </tbody>
    </table>
</div>
