<div class="container">
    <div class="row">
        <div class="col-sm-6">
             <br>
            <h2>Shipping</h2> 
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" class="form-control" id="date" name="date"  ngModel #date="ngModel" required>
                    <span style="color: red" class="help-block" *ngIf="!date.valid && date.touched">Please enter a Date.</span>
                </div>
                <div class="form-group">
                     <label for="address">Address:</label>
                     <input type="text" class="form-control" id="address" name="address"  ngModel #address="ngModel" required>
                     <span style="color: red" class="help-block" *ngIf="!address.valid && address.touched">Please enter a Address.</span>
                </div>
                <div class="form-group">
                     <label for="city">City:</label>
                     <input type="text" class="form-control" id="city" name="city" ngModel #city="ngModel" required>
                     <span style="color: red" class="help-block" *ngIf="!city.valid && city.touched">Please enter a City.</span>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Please Order</button>
            </form>
        </div>
        <div class="col-sm-6">
            <br><br>
            <div class="border border-danger">
                <br>
                <h2>Order Summary</h2>
                <p>You have {{ this.countQuantity }} items in your shopping card.</p><hr>
                <div *ngFor="let cardInfo of this.cardInfo" class="row">
                        <div class="col-sm-9">
                            {{ cardInfo.quantity }} * {{ cardInfo.shoppingListData.name }} 
                        </div>
                        <div class="col-sm-3">
                            {{ cardInfo.quantity * cardInfo.shoppingListData.price }}
                        </div><hr>          
                </div>
                <hr>
                <div class="row">
                        <div class="col-sm-9">
                            Total Price
                        </div>
                        <div class="col-sm-3">
                            {{ this.totalPrice }}
                        </div>          
                </div>
                <br>
            </div>
        </div>
    </div>
</div>    
