<br><br>
<h1 style="text-align: center; color: red">{{ catagory }} register page</h1><br>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
           <label for="phoneNo">Name:</label>
           <input type="type" class="form-control" id="name" name="name" ngModel #name="ngModel" required>
           <span style="color: red" class="help-block" *ngIf="!name.valid && name.touched">Please enter a valid name.</span>
      </div>
     <div class="form-group">
           <label for="email">Email:</label>
           <input type="email" class="form-control" id="email" name="email"  ngModel #email="ngModel" required>
           <span style="color: red" class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email.</span>
     </div>
     <div class="form-group">
           <label for="password">Password:</label>
           <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel" required>
           <span style="color: red" class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password.</span>
      </div>
      <div class="form-group">
           <label for="phoneNo">Phone No:</label>
           <input type="type" class="form-control" id="phoneNo" name="phoneNo" ngModel #phoneNo="ngModel" required>
           <span style="color: red" class="help-block" *ngIf="!phoneNo.valid && phoneNo.touched">Please enter a valid phone number.</span>
      </div>
      <div class="form-group">
           <label for="age">Age:</label>
           <input type="type" class="form-control" id="age" name="age" ngModel #age="ngModel" required>
           <span style="color: red" class="help-block" *ngIf="!age.valid && age.touched">Please enter a valid age.</span>
      </div>
      <div class="form-group">
            <label for="gender">Gender:</label>
            <!-- <input type="type" class="form-control" id="age" name="age" ngModel #age="ngModel" required> -->
            <select class="form-control" id="gender" name="gender" ngModel #gender="ngModel" required>
                  <option type="radio" value="male">Male</option>
                  <option type="radio" value="female">Female</option>
            </select>
            <span style="color: red" class="help-block" *ngIf="!gender.valid && gender.touched">Please enter a valid age.</span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>