<!-- <br>
<h1 style="color: red; text-align: center">Edit Product</h1><br>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
        <label for="phoneNo">Name:</label>
        <input type="type" class="form-control" name="name" ngModel #name="ngModel" required>
        <span style="color: red" class="help-block" *ngIf="!name.valid && name.touched">Please enter a valid name.</span>
    </div>
    <div class="form-group">
        <label for="uploadImage">Upload Image:</label>
        <input type="file" class="form-control" (change)="preview($event)" name="uploadImage" ngModel #uploadImage="ngModel" required>
        <span style="color: red" class="help-block" *ngIf="!uploadImage.valid && uploadImage.touched">Please enter a valid Image.</span>
    </div>
    <img [src]="imgURL" height="200" *ngIf="imgURL"><br>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="type" class="form-control"  name="price" ngModel #price="ngModel" required>
        <span style="color: red" class="help-block" *ngIf="!price.valid && price.touched">Please enter a price.</span>
    </div>
    <div class="form-group">
        <label for="catagory">Catagory:</label>
        <select class="form-control"  name="catagory" ngModel #catagory="ngModel" required>
              <option type="radio" value="bread">Bread</option>
              <option type="radio" value="fruits">Fruits</option>
              <option type="radio" value="vegetables">vegetables</option>
        </select>
        <span style="color: red" class="help-block" *ngIf="!catagory.valid && catagory.touched">Please select a catagory.</span>
  </div><br>
  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form> -->


<br>
<h1 style="color: red; text-align: center">Edit Product</h1><br>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">    
    <div class="form-group">
         <label for="name">Name</label>
         <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <div class="form-group">
        <label for="uploadImage">Upload Image:</label>
        <input type="file"  class="form-control" (change)="preview($event)">
        <input type="hidden" name="fileHidden" formControlName="uploadImage"/> 
        <!-- <span style="color: red" class="help-block" *ngIf="!uploadImage.valid && uploadImage.touched">Please enter a valid Image.</span> -->
    </div>
    <img [src]="imgURL" height="200" *ngIf="imgURL"><br>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" class="form-control"  id="price" formControlName="price">
        <!-- <span style="color: red" class="help-block" *ngIf="!price.valid && price.touched">Please enter a price.</span> -->
    </div>
    <div class="form-group">
        <label for="catagory">Catagory:</label>
        <select class="form-control" id="catagory" formControlName="catagory">
              <option type="radio" value="bread">Bread</option>
              <option type="radio" value="dairy">Dairy</option>
              <option type="radio" value="fruits">Fruits</option>
              <option type="radio" value="vegetables">vegetables</option>
        </select>
        <!-- <span style="color: red" class="help-block" *ngIf="!catagory.valid && catagory.touched">Please select a catagory.</span> -->
    </div><br>
    <button class="btn btn-primary" type="submit" >Submit</button>
</form>

