<div class="col-sm-12">
    <table class="table table-striped">
        <tbody *ngFor="let fruitsData of this.fruitsData">
            <tr>
                <td><img src="http://localhost:8080/SP/images/{{fruitsData.image}}" height="200px" width="300px"></td><br>
                {{ fruitsData.name }}<br><br>
                Price: {{ fruitsData.price }}
                <br><br><br>
                <button (click)="onClick(fruitsData.id)" class="btn btn-primary">Add</button>
            </tr>
            <br>
        </tbody>
            
    </table>
</div>
   