<div class="col-sm-12">
     <table class="table table-striped">
        <tbody *ngFor="let breadData of this.breadData">
            <tr>
                <td><img src="http://localhost:8080/SP/images/{{breadData.image}}" height="200px" width="300px"></td><br>
                {{ breadData.name }}<br><br>
                Price: {{ breadData.price }}
                <br><br><br>
                <button (click)="onClick(breadData.id)" class="btn btn-primary">Add</button>
            </tr>
            <br>
        </tbody>      
     </table>
</div>
