<br><h1 style="text-align: center;color: red;">More Information</h1><br><br>
<div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ this.name}}</td>
                    <td>{{ this.quantity }}</td>
                    <td>{{ this.price }}</td>
                    <td><img src="{{this.image}}" height="200px" width="300px"></td>
                </tr>
            </tbody>
        </table>
</div>
