<div class="col-sm-12">
        <table class="table table-striped">
           <tbody *ngFor="let dairyData of this.dairyData">
               <tr>
                   <td><img src="http://localhost:8080/SP/images/{{dairyData.image}}" height="200px" width="300px"></td><br>
                   {{ dairyData.name }}<br><br>
                   Price: {{ dairyData.price }}
                   <br><br><br>
                   <button (click)="onClick(dairyData.id)" class="btn btn-primary">Add</button>
               </tr>
               <br>
           </tbody>
               
        </table>
   </div>
