<br>
<h1 style="color: red; text-align: center">Add Product</h1><br>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">    
    <div class="form-group">
         <label for="name">Name</label>
         <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <div class="form-group">
        <label for="uploadImage">Upload Image:</label>
    </div>
    <img [src]="imgURL" height="200"><br><br>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" class="form-control"  id="price" formControlName="price">
        <!-- <span style="color: red" class="help-block" *ngIf="!price.valid && price.touched">Please enter a price.</span> -->
    </div>
    <div class="form-group">
        <label for="catagory">Catagory:</label>
        <select class="form-control" id="catagory" formControlName="catagory">
              <option type="radio" value="bread">Bread</option>
              <option type="radio" value="dairy">Dairy</option>
              <option type="radio" value="fruits">Fruits</option>
              <option type="radio" value="vegetables">vegetables</option>
        </select>
    </div>
    <div class="form-group">
            <label for="quantity">Quantity:</label>
            <select class="form-control" id="quantity" formControlName="quantity">
                <option type="radio" value="1">1</option>
                <option type="radio" value="2">2</option>
                <option type="radio" value="3">3</option>
                <option type="radio" value="4">4</option>
            </select>
    </div><br>
    <button class="btn btn-primary" type="submit">Add</button>
</form>

