<br><br>
<button class="btn btn-primary" [routerLink]="['/newProducts']">New Product</button><br><br>
<form>
     <div class="form-group">
         <input type="text" class="form-control" name="catagory" placeholder="Search ........">
     </div>
</form><br><br>

<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of this.itemData">
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td><img src="http://localhost:8080/SP/images/{{ item.image }}" alt="{{ item.image }}" height="150px" width="200px"></td>
                <td><button (click)="onClick(item.id)">Edit</button>&nbsp;&nbsp;<button (click)="onDeleteItem(item.id)">Delete</button></td>
            </tr><br>
        </tbody>
    </table>    
</div>    


