<br><h2 style="text-align: center; color: red;">All Order</h2><br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Item</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody *ngFor="let orderData of this.orderData">
            <tr>
                <td>{{ orderData.userData.name }}</td>
                <td>{{ orderData.cardData.shoppingListData.name }}</td>
                <td>{{ orderData.date }}</td>
                <td><button (click)="onView(orderData.id)">View</button>&nbsp;&nbsp;<button (click)="onDelete(orderData.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>


